<app-form-filter-drink></app-form-filter-drink>

<div class="container">
    <div *ngIf="drinksList.length > 0 && searchCheck; else invalidSearchContent" class="list-container">
        <div *ngFor="let drink of drinksList">
            <div class="card" style="width: 18rem">
                <img *ngIf="drink.strDrinkThumb" src={{drink.strDrinkThumb}} class="card-img-top">
                <img *ngIf="!drink.strDrinkThumb" src="../../../assets/drinkDefaultImg.png" class="card-img-top">
                <div class="card-body">
                  <div class="card_title">
                    <h5 class="card-title">{{drink.strDrink}}</h5>
                    <div *ngIf="isLoggedIn" class="img_star">
                      <img *ngIf="!isDrinkInFavList(drink.idDrink)" src="../../../assets/addToList.png" (click)="addToFavList(drink.idDrink)" title="Add to Favourites">
                      <img *ngIf="isDrinkInFavList(drink.idDrink)" src="../../../assets/star.png" (click)="removeFromFavList(drink.idDrink)" title="Remove from Favourites">
                    </div>
                  </div>
                  <p class="card-text">{{drink.strCategory}}</p>
                  <div class="btn_container">
                    <a class="btn btn-primary" [routerLink]="['/drink',drink.idDrink]">Show details</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

<ng-template #invalidSearchContent>
  <div>
      <app-invalid-search></app-invalid-search>
  </div>
</ng-template>