<div class="container">
    <div *ngIf="mealList" class="list-container">
        <div *ngFor="let meal of mealList">
            <div class="card" style="width: 18rem">
                <img *ngIf="meal.strMealThumb" src={{meal.strMealThumb}} class="card-img-top">
                <!-- <img *ngIf="!meal.strDrinkThumb" src="../../../assets/drinkDefaultImg.png"  class="card-img-top">-->
                <div class="card-body">
                  <h5 class="card-title">{{meal.strMeal}}</h5>
                  <p class="card-text">{{meal.strCategory}}</p>
                  <a  [routerLink]="['/meal', meal.idMeal]" routerLinkActive="active" class="btn btn-primary">Show details</a>
                </div>
              </div>
        </div>
    </div>
</div>
