<app-form-filter-meal></app-form-filter-meal>
<div class="container" >
    <div *ngIf="mealList.length > 0 && searchCheck; else invalidSearchContent" class="list-container">
        <div *ngFor="let meal of mealList">
            <div class="card" style="width: 18rem">
                <img *ngIf="meal.strMealThumb" src={{meal.strMealThumb}} class="card-img-top">
                <div class="card-body">
                  <div class="card_title">
                    <h5 class="card-title">{{meal.strMeal}}</h5>
                    <div *ngIf="isLoggedIn" class="img_star">
                      <img src="../../../assets/star.png" (click)="addToFavList(meal.idMeal)" alt="Add to Favourites">
                    </div>
                  </div>
                  <p class="card-text">{{meal.strCategory}}</p>
                  <div class="btn_container">
                    <a  [routerLink]="['/meal', meal.idMeal]" routerLinkActive="active" class="btn btn-primary">Show details</a>
                  </div>

                </div>
              </div>
        </div>
    </div>
</div>

<ng-template #invalidSearchContent>
  <div>
      <app-invalid-search></app-invalid-search>
  </div>
</ng-template>

