<div class="heading_container">

    <div class="dropdown add_recipes_btn">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="addRecipe" data-bs-toggle="dropdown" aria-expanded="false">
          Add a Recipe
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="/newDrink">Add a new Drink</a></li>
          <li><a class="dropdown-item" routerLink="/newMeal">Add a new Meal</a></li>
        </ul>
    </div>
    
    <h3 *ngIf="loggedUser.drinks.length > 0 || loggedUser.meals.length > 0" id="myRecipesTitle">My Recipes</h3>
    
</div>

<div class="container">

    <div *ngIf="loggedUser.drinks.length > 0 && loggedUser.meals.length > 0">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkboxBtn" checked (click)="showDrinkList()">
            <label class="form-check-label" for="showDrinks"><small>Show Drink Recipes</small></label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkboxBtn" checked (click)="showMealList()">
            <label class="form-check-label" for="showMeals"><small>Show Meal Recipes</small></label>
        </div>
    </div>

    <div *ngIf="showDrinks" class="list-drinks">
        <div *ngFor="let drink of loggedUser.drinks">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{drink.strDrinkThumb}}" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                                <h3 class="card-title">{{drink.strDrink}}</h3>
                                <p class="card-text-small" *ngIf="drink.strCategory"><small class="text-muted">{{drink.strCategory}}</small></p>
                                <p class="card-text-small" *ngIf="drink.strGlass"><small class="text-muted">{{drink.strGlass}}</small></p>
                                <p class="card-text-small"><small class="text-muted">{{drink.strAlcoholic}}</small></p>
                    
                                <h6 class="card-title-sub">Ingredients</h6>
                                <ul>
                                    <li *ngIf="drink.strIngredient1">{{drink.strMeasure1}} {{drink.strIngredient1}}</li>
                                    <li *ngIf="drink.strIngredient2">{{drink.strMeasure2}} {{drink.strIngredient2}}</li>
                                    <li *ngIf="drink.strIngredient3">{{drink.strMeasure3}} {{drink.strIngredient3}}</li>
                                    <li *ngIf="drink.strIngredient4">{{drink.strMeasure4}} {{drink.strIngredient4}}</li>
                                    <li *ngIf="drink.strIngredient5">{{drink.strMeasure5}} {{drink.strIngredient5}}</li>
                                    <li *ngIf="drink.strIngredient6">{{drink.strMeasure6}} {{drink.strIngredient6}}</li>
                                    <li *ngIf="drink.strIngredient7">{{drink.strMeasure7}} {{drink.strIngredient7}}</li>
                                    <li *ngIf="drink.strIngredient8">{{drink.strMeasure8}} {{drink.strIngredient8}}</li>
                                    <li *ngIf="drink.strIngredient9">{{drink.strMeasure9}} {{drink.strIngredient9}}</li>
                                    <li *ngIf="drink.strIngredient10">{{drink.strMeasure10}} {{drink.strIngredient10}}</li>
                                    <li *ngIf="drink.strIngredient11">{{drink.strMeasure11}} {{drink.strIngredient11}}</li>
                                    <li *ngIf="drink.strIngredient12">{{drink.strMeasure12}} {{drink.strIngredient12}}</li>
                                    <li *ngIf="drink.strIngredient13">{{drink.strMeasure13}} {{drink.strIngredient13}}</li>
                                    <li *ngIf="drink.strIngredient14">{{drink.strMeasure14}} {{drink.strIngredient14}}</li>
                                    <li *ngIf="drink.strIngredient15">{{drink.strMeasure15}} {{drink.strIngredient15}}</li>    
                                </ul>
                                <h6 class="card-title">Directions</h6>
                                <p class="card-text-instructions">{{drink.strInstructions}}</p>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <div *ngIf="showMeals" class="list-meals">
        <div  *ngFor="let meal of loggedUser.meals">
            <div class="card mb-3">
                <div  class="row no-gutters">
                    <div  class="col-md-4">
                        <img src="{{meal.strMealThumb}}" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                           <h3 class="card-title">{{meal.strMeal}}</h3>
                            <p class="card-text-small" *ngIf="meal.strCategory"><small class="text-muted">{{meal.strCategory}}</small></p>
                            <p class="card-text-small" *ngIf="meal.strArea"><small class="text-muted">{{meal.strArea}}</small></p>
                
                            <h6 class="card-title-sub">Ingredients</h6>
                            <ul>
                                <li *ngIf="meal.strIngredient1">{{meal.strMeasure1}} {{meal.strIngredient1}}</li>
                                <li *ngIf="meal.strIngredient2">{{meal.strMeasure2}} {{meal.strIngredient2}}</li>
                                <li *ngIf="meal.strIngredient3">{{meal.strMeasure3}} {{meal.strIngredient3}}</li>
                                <li *ngIf="meal.strIngredient4">{{meal.strMeasure4}} {{meal.strIngredient4}}</li>
                                <li *ngIf="meal.strIngredient5">{{meal.strMeasure5}} {{meal.strIngredient5}}</li>
                                <li *ngIf="meal.strIngredient6">{{meal.strMeasure6}} {{meal.strIngredient6}}</li>
                                <li *ngIf="meal.strIngredient7">{{meal.strMeasure7}} {{meal.strIngredient7}}</li>
                                <li *ngIf="meal.strIngredient8">{{meal.strMeasure8}} {{meal.strIngredient8}}</li>
                                <li *ngIf="meal.strIngredient9">{{meal.strMeasure9}} {{meal.strIngredient9}}</li>
                                <li *ngIf="meal.strIngredient10">{{meal.strMeasure10}} {{meal.strIngredient10}}</li>
                                <li *ngIf="meal.strIngredient11">{{meal.strMeasure11}} {{meal.strIngredient11}}</li>
                                <li *ngIf="meal.strIngredient12">{{meal.strMeasure12}} {{meal.strIngredient12}}</li>
                                <li *ngIf="meal.strIngredient13">{{meal.strMeasure13}} {{meal.strIngredient13}}</li>
                                <li *ngIf="meal.strIngredient14">{{meal.strMeasure14}} {{meal.strIngredient14}}</li>
                                <li *ngIf="meal.strIngredient15">{{meal.strMeasure15}} {{meal.strIngredient15}}</li>    
                                <li *ngIf="meal.strIngredient16">{{meal.strMeasure15}} {{meal.strIngredient16}}</li>    
                                <li *ngIf="meal.strIngredient17">{{meal.strMeasure15}} {{meal.strIngredient17}}</li>    
                                <li *ngIf="meal.strIngredient18">{{meal.strMeasure15}} {{meal.strIngredient18}}</li>    
                                <li *ngIf="meal.strIngredient19">{{meal.strMeasure15}} {{meal.strIngredient19}}</li>    
                                <li *ngIf="meal.strIngredient20">{{meal.strMeasure15}} {{meal.strIngredient20}}</li>    
                            </ul>
                            <h6 class="card-title">Directions</h6>
                            <p class="card-text-instructions">{{meal.strInstructions}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
        
   
    <h4 *ngIf="loggedUser.drinks.length == 0 && loggedUser.meals.length == 0">You don´t have recipes yet</h4>
</div>
