<app-nav-bar></app-nav-bar>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Select Option
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" [routerLink]="['/listDrinks']">Drink</a></li>
      <li><a class="dropdown-item" [routerLink]="['/listMeals']">Meal</a></li>
    </ul>
  </div>

  <router-outlet></router-outlet>

