.collapse {
    justify-content: right;
    padding-right: 1rem;
}

.navbar-brand{
    margin-left: 1rem;
}

.navbar navbar-expand-lg navbar-light bg-light{
    background-color: rgb(99, 27, 137);
}

