<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">
        <img src="../../../assets/LogoSipAndBites.png" width="150" height="50" class="d-inline-block align-top" alt="">
    </a>
   
    <!-- annoymous-->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"><i class="fas fa-search"></i> Recipes & Drinks</a>
      </li>
    </ul>


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/newUser" *ngIf="!isLoggedIn">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn">Login</a>
        </li>

        <!-- WHEN USER IS LOGGED IN-->

        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn">Hello {{loggedUser.firstName}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/editUser" *ngIf="isLoggedIn">My Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="/userRecipes">My Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn">My Favourites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn">What can I cook?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn">What can I drink?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home" *ngIf="isLoggedIn" (click)="logOut()" >Log out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home" *ngIf="isLoggedIn" (click)="signOut()" >Sign out</a>
        </li>
      </ul>
    </div>
  </nav>
