<h3>Welcome to Sip & Bites!</h3>

<div class="container">

    <form [formGroup]="userForm" (ngSubmit)="addUser()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Enter your first name">
        </div>
        <div *ngIf="userForm.get('firstName')?.invalid && (userForm.get('firstName')?.dirty || userForm.get('firstName')?.touched)" class="alert alert-danger">
            <div *ngIf="userForm.get('firstName')?.errors?.['required']">
                First Name is required
            </div>
        </div>
       
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Enter your last name">
        </div>
        <div *ngIf="userForm.get('lastName')?.invalid && (userForm.get('lastName')?.dirty || userForm.get('lastName')?.touched)" class="alert alert-danger">
            <div *ngIf="userForm.get('lastName')?.errors?.['required']">
                Last Name is required
            </div>
        </div>

        <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth">
            <small id="dateOfBirthHelp" class="form-text text-muted"></small>
        </div>
        <div *ngIf="userForm.get('dateOfBirth')?.invalid && (userForm.get('dateOfBirth')?.dirty || userForm.get('dateOfBirth')?.touched)" class="alert alert-danger">
            <div *ngIf="userForm.get('dateOfBirth')?.errors?.['required']">
                Date of Birth is required
            </div>
            <div *ngIf="userForm.get('dateOfBirth')?.errors?.['notLegalAge']">
                You have to be at least 18 years old
            </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email">
        </div>
        <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched)" class="alert alert-danger">
            <div *ngIf="userForm.get('email')?.errors?.['required']">
                Email is required
            </div>
            <div *ngIf="userForm.get('email')?.errors?.['pattern']">
                Email is invalid
            </div>
            <div *ngIf="userForm.get('email')?.errors?.['emailExists']">
                Email is already registered
            </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
        </div>
        <div *ngIf="userForm.get('password')?.invalid && (userForm.get('password')?.dirty || userForm.get('password')?.touched)" class="alert alert-danger">
            <div *ngIf="userForm.get('password')?.errors?.['required']">
                Password is required
            </div>
            <div *ngIf="userForm.get('password')?.errors?.['minlength']">
                Minimum 8 characters
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
        </div>
        <div *ngIf="userForm.get('confirmPassword')?.invalid && (userForm.get('confirmPassword')?.dirty || userForm.get('confirmPassword')?.touched)" class="alert alert-danger">
              <div *ngIf="userForm.get('confirmPassword')?.errors?.['required']">
                  Confirm Password is required
              </div>
        </div>
        <div *ngIf="userForm.hasError('mismatch') &&  (userForm.get('confirmPassword')?.dirty || userForm.get('confirmPassword')?.touched)" class="alert alert-danger">
            
                Passwords do not match
            
        </div>
        
        

          

        <div class="container-btn">
            <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
        </div>

    </form>
</div>
