.container{
    width: 50%;
    margin-top: 2rem;
}

h3 {
    color: #BB29BB;
    text-align: center;

}

.form-group{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-control{
    margin-top: .5rem;
   
}

.container-btn {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #892889;
    border-color: #892889;
    margin-bottom: 2rem;
}