
<div class="form-container">
  <form [formGroup]="filterForm" (ngSubmit)="searchMeals()" class="d-flex flex-column">


    <div class="input-container d-flex flex-row mb-3">

      <div class="input-group input-group-sm">
        <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
        <input formControlName='name' type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>

      <div class="input-group">
        <label class="input-group-text" for="inputGroupSelect01">Options Category</label>
        <select formControlName='categories' class="form-select" id="inputGroupSelect01">
          <option value="">All</option>
          <option *ngFor="let categorie of listCategories" [value]="categorie.strCategory">{{categorie.strCategory}}</option>
        </select>
      </div>

      <div class="input-group">
        <label class="input-group-text" for="inputGroupSelect02">Options Country</label>
        <select formControlName='country' class="form-select" id="inputGroupSelect02">
          <option value="">All</option>
          <option *ngFor="let country of listCountry" [value]="country">{{country}}</option>
        </select>
      </div>

    </div>

  
    <div class="button-container d-flex justify-content-center buttonsForm">
      <button class="button primary" type="submit" >Search</button>
      <button class="button primary" (click)="removeFilter()" type="submit">Remove</button>
    </div>

  </form>
</div>
  